@import "../../node_modules/bootstrap/scss/bootstrap";

:root{
    --night: #084C61;
    --red: #BF1A2F;
    --black: #0C1618;
    --cyan: #58FCEC;
    --vista-blue: #7F96FF;
}

$colors: (
    // to override shit
);

.red-text{
    color: var(--red);
}

.cyan-text{
    color: var(--cyan);
}

.night-text{
    color: var(--night);
}

.vista-text{
    color: var(--vista-blue);
}

.red-bg{
    background-color: var(--red);
}

.cyan-bg{
    background-color: var(--cyan);
}

.night-bg{
    background-color: var(--night);
}

.vista-bg{
    background-color: var(--vista-blue);
}

.navbar{
    padding-top: 50px;
}

.nav-item, .navbar-brand{
    margin: 0 15px 5px 15px;
}

.fella {
    border-radius: 25px;
    padding: 25px;
    transition: ease 0.5s;

    box-shadow: 1px 1px 3px $gray-600;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
