
body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}

.App{
  background-color: var(--black);
}

.main {
  padding: 25px;
  min-height: 100vh;
  margin: 0px 25vw 0 25vw;
}

.navbar{
  margin-bottom: 30px;
}

.active-link{
  text-decoration: underline;
}

.blur{
  backdrop-filter: blur(10px);
}
