
body {
  margin: 0;
  height: 100%;
}

.App{
  background-color: var(--black);
}

.main {
  padding: 25px;
  height: 100%;
  margin: 0px 25vw 0 25vw;
}

.active-link{
  text-decoration: underline;
}

.blur{
  backdrop-filter: blur(15px);
}
